<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BB data</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    </head>

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Belly Buttons</h1>
                <p>BB samples</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>BB_sample dropdown</h2>
                </div>
                <div class="col-md-4">
                    <h2>BB pie chart</h2>
                    <div id="plot"></div>
                </div>
                <div class="col-md-4">
                    <h2>BB scale</h2>
                </div>
            </div>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
    </body>
</html>